h1{
  text-align: center;
}

.column {
  float: left;
  width: 32%;
  background-color: grey;
  margin: 10px;
  height: 500px;
}

.column h3{
  font-weight: bold;
  text-align: center;
}

.column p {
  font-family: sans-serif;
  margin: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
